body {
    background-color: black;
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-family: "Lato", sans-serif;
}

b {
    color: #0ad19d;
    font-family: "Lato", sans-serif;
}

body,
h1 h2 {
    color: white;
    font-family: "fjalla one", serif;
}

h1 {
    font-size: 64px;
    width: 120px;
    letter-spacing: .067em;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    padding-top: 18px;
}

header {
    background-image: url(../img/header-background.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    width: 100%;
    min-height: 700px;
    min-width: 320px;
    padding-bottom: 30px;
    max-width: 980%;
    margin: auto;
}

#logo img {
    display: inline-block;
    width: 122px;
    height: auto;
}

.border img {
    width: 100%;
}

.border h1 {
    margin-bottom: 0;
    width: 120px;
}

.menu ul li a {
    font-weight: 700;
    padding: 10px 12px;
    font-family: "Lato", sans-serif;
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #0ad19d;
    z-index: 2;
    cursor: pointer;
}

.border {
    font-weight: bold;
    font-size: 56px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.border_page {
    line-height: 120%;
    font-size: 16px;
}

.button_rent {
    margin: 0 auto;
    display: inline-block;
    padding: 24px 31px;
    background-color: #f52e62;
    border: solid 1px #0a0909;
    color: #fff;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

.button_learn {
    margin: 0 auto;
    display: inline-block;
    padding: 24px 31px;
    border: solid 1px;
    border-color: #cac3c3;
    background-color: #0d0d0e;
    color: #fff;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

.button_rent:hover {
    background-color: #0ad19d;
    cursor: pointer;
    z-index: 2;
}

.button_learn:hover {
    background-color: #fdfdfd;
    color: black;
    cursor: pointer;
    z-index: 2;
}

.second-container-wrap {
    background: url(../img/backg.png) 50% 50% / cover no-repeat fixed;
}

.second-container {
    margin: 0 auto;
    min-height: 700px;
    min-width: 320px;
    padding-bottom: 30px;
    justify-content: center;
    padding-top: 100px;
}

.banner {
    width: 560px;
    max-width: 100%;
    height: 520px;
    margin-right: 80px;
}

.about-company {
    margin-bottom: 25px;
    line-height: 160%;
}

.about-company img {
    width: 100%;
}

.about-company h2 {
    margin-top: 0;
    font-size: 40px;
    font-stretch: 100%;
    line-height: 160%;
    display: flex;
    flex-wrap: wrap;
}

.collection {
    width: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.paragraf-one {
    font-weight: 400;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.paragraf-two {
    font-weight: 400;
    font-size: 16px;
    color: rgb(197, 197, 197);
}

.number p {
    color: #0ad19d;
    font-size: 25px;
}

.text p {
    font-family: "fjalla one", serif;
    font-size: 25px;
}

.basic-container {
    background-color: white;
    background-size: cover;
    background-position: center;
    min-height: 460px;
    padding-top: 100px;
}

.intro-icon {
    display: flex;
    justify-content: space-around;
}

.one-icon {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
}

.one-icon p {
    font-size: 16px;
    color: #515151;
    line-height: 200%;
}

.one-icon h3 {
    color: #000000;
}

.icon-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 50%;
}

.line {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.head-drone {
    background-color: #f0f0f0;
}

.main-drone {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: -20px;
}

.drones-for {
    padding-top: 90px;
    line-height: 200%;
    padding-right: 100px;
}

.drones-for img {
    width: 100%;
}

.drones-for h2 {
    margin-top: 0;
    font-size: 40px;
    font-stretch: 100%;
    color: #1c1d1e;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 5px;
}

.p-one {
    color: #1c1d1e;
    font-size: 18px;
}

.p-two {
    color: #515151;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.button-choose {
    margin: 0 auto;
    display: inline-block;
    padding: 24px 31px;
    background-color: #f52e62;
    border: solid 1px #f0f0f0;
    color: #fff;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

.button-choose:hover {
    background-color: #0ad19d;
    cursor: pointer;
    z-index: 2;
}

.bg-photo img {
    width: 750px;
    max-width: 100%;
    margin-right: -153px;
    margin-bottom: -4px;
}

.carousel-bg-one {
    background: url(../img/backg.png) 50% 50% / cover no-repeat fixed;
    padding-top: 90px;
}

.our_drones {
    text-align: center;
    padding-bottom: 20px;
}

.carousel-bg {
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    min-height: 460px;
    padding-top: 60px;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.current {
    display: flex;
    justify-content: space-between;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.carousel-block {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 49%;
    margin: 0 1%;
    overflow: hidden;
}

.carousel-block img {
    max-width: 100%;
}

.next,
.prev {
    margin: 0 10px;
    display: inline-block;
    padding: 9px 11px;
    border-radius: 50px;
    border: solid 0px;
    background-color: #0ad19d;
    cursor: pointer;
}

.bottom-bg {
    background-image: url(../img/reg.bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.bottom {
    display: flex;
    min-width: 320px;
    justify-content: space-between;
    padding-bottom: 120px;
}

#contacts {
    font-size: 40px;
    font-weight: 400;
}

.line-bottom {
    width: 100%;
}

.colect-add {
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contacts {
    line-height: 2.2;
}

.address p {
    font-size: 21px;
    line-height: 2.2;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.location p {
    font-size: 16px;
    line-height: 1.7;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

form {
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgba(28, 29, 30, 0.82);
    box-sizing: border-box;
}

.form-input {
    background-color: rgba(28, 29, 30, 0.41);
    padding: 19px 21px;
    width: 100%;
    color: #FFFFFF;
    margin: 20px 20px;
}

form-label {
    padding: 20px 20px;
}

.collapse .collapse-body {
    display: none;
}

.collapse .collapse-title span:after {
    content: '+';
}

.collapse.is-active .collapse-body {
    display: initial;
}

.collapse.is-active .collapse-title span:after {
    content: '-';
}

.collapse-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapse-title span {
    font-size: 40px;
    margin-right: 20px;
    cursor: pointer;
}

footer {
    background-color: #1c1d1e;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_logo img {
    display: inline-block;
    width: 122px;
    height: auto;
}

dd {
    margin: 0;
    font-weight: normal;
    font-family: sans-serif;
}

@media (min-width: 768px) {
    .menu {
        display: flex;
        flex-basis: auto;
        flex-grow: 1;
        align-items: center;
    }
    .menu ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    .border img {
        width: 50%;
    }
    .border h1 {
        font-size: 130px;
    }
    .container {
        flex-direction: row;
    }
    .drones-for {
        max-width: 50%;
    }
    dl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    dt,
    dd {
        width: 50%;
    }
}