body{
    margin: 0;
}

header {
    background-image: url(../img/header-background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
	min-height: 700px;
	display: grid;
	place-items: center;
}
