@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
body {
    margin: auto;
}

header {
    background-image: url(../img/header-background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 700px;
}

.logo, img {
    display: inline-block;
    width: 122px;
    height: auto;
}

.border, p {
    color: white;
    font-family: Lato, serif;
}